.button {
  border-radius: 20px;
  border-width: solid #aeaeae 1px;
  border: 0px;
  height: 4rem;
  background-color: #1ac073;
}

.buttonText {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
