.main_cart_body {
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-top: 10vh;
    gap: 10vw;
}

.cart_body_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    width: 60vh;
}

.cart_body_text {
    width: 350px;
    height: 27px;
    left: 60px;
    top: 51px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #1E1E1E;
    cursor: pointer;
    margin-bottom: 20px;
}

.shopping_cart_number_of_items {
    width: 190px;
    margin-top: 30px;
    height: 27px;
    left: 45px;
    top: 125px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1E1E1E;
}

.number_of_items {
    width: 215px;
    height: 19px;
    left: 45px;
    top: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #1E1E1E;
    margin-top: 20px;
}

.cart_items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cartBody_payment {
    width: 30vw;
    height: 55vh;
    background: #565ABB;
    border-radius: 20px;
}

.cart_body {
    display: flex;
    flex-direction: row;
}

.cartBody_payment_title {
    width: 250px;
    height: 33px;
    left: 727px;
    top: 77px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FEFCFC;
    padding: 30px;
}

.cartBody_payment_methods {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px
}

.card_details_inputs {
    padding: 10px;
    padding-left: 30px;
}

.card_details_expiry {
    display: flex;
    width: 300px;
    gap: 30px;
    flex-direction: row;
}

.total_pay {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 10px;
    gap: 150px;
    color: white;
}

.total_pay_texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}