.display_text {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

.food_box {
  cursor: pointer;
  margin: 10px;
  width: 10rem;
  aspect-ratio: 1/1;
  border: 1px solid #ffffff;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 90vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.conatiner {
  margin-bottom: 120px;
  width: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* or 23px */

  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
