.fullPage {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: #1ac073;
  align-items: center;
  justify-content: center;
  // padding: 150px 0px 150px;
}

.elementInside {
  display: flex;
}
